* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  padding: 5rem;
}

.box-container {
  padding-bottom: 20rem;
}


.box {
  width: 25rem;
  height: 20rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxitem {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  padding: 3rem;
  list-style: none;
  margin: 3px;
}